.cache/clangd/index/clock.c.584DEB2397784C88.idx
.cache/clangd/index/clock.c.3368D8306FCBB45B.idx
.cache/clangd/index/console.h.69F997C65135393C.idx
.cache/clangd/index/const.h.855D1F4849772053.idx
.cache/clangd/index/const.h.A83EBB33F6706B99.idx
.cache/clangd/index/const.h.B549A71F0FF7135C.idx
.cache/clangd/index/global.c.31B7895A972B378C.idx
.cache/clangd/index/global.c.AB185FEA1C80CADD.idx
.cache/clangd/index/global.h.BAD65CE42C5A2A68.idx
.cache/clangd/index/global.h.BFCDD4EEB9FB8E3E.idx
.cache/clangd/index/global.h.DDBFCADD89F54464.idx
.cache/clangd/index/i8259.c.04A53A9AD36CBB8F.idx
.cache/clangd/index/i8259.c.B2AB485221DAA43D.idx
.cache/clangd/index/keyboard.c.A199109FD0AF47C5.idx
.cache/clangd/index/keyboard.h.C09105AB036950F2.idx
.cache/clangd/index/keymap.h.016DBC2F1736EB63.idx
.cache/clangd/index/klib.c.4AA095680F965DC3.idx
.cache/clangd/index/klib.c.9097C283EBCCF483.idx
.cache/clangd/index/main.c.205FBD3F7600A8AE.idx
.cache/clangd/index/main.c.F643D71CC81D73B2.idx
.cache/clangd/index/proc.c.B605CB0CEA574E4D.idx
.cache/clangd/index/proc.h.1992367AD12F17E3.idx
.cache/clangd/index/proc.h.A8DDE4147704BCC5.idx
.cache/clangd/index/protect.c.22BFC9B91292D1AB.idx
.cache/clangd/index/protect.c.37C4D03600390AFB.idx
.cache/clangd/index/protect.h.4EE40E6C223CCB2A.idx
.cache/clangd/index/protect.h.27A8AE0EE5620CB2.idx
.cache/clangd/index/protect.h.A2E3BC3BFED554EC.idx
.cache/clangd/index/proto.h.7A914A9FE1758B5D.idx
.cache/clangd/index/proto.h.5668A206678F0B98.idx
.cache/clangd/index/proto.h.E843903AE4E2C72B.idx
.cache/clangd/index/start.c.762DCF2D1CFA7507.idx
.cache/clangd/index/start.c.A7FB58223CD4C088.idx
.cache/clangd/index/start.c.EF866D56D38690C0.idx
.cache/clangd/index/string.h.6B54D558AB3A9466.idx
.cache/clangd/index/string.h.46596FA89084E832.idx
.cache/clangd/index/string.h.F424FD042CA1A66C.idx
.cache/clangd/index/tty.c.A5E210CF44229A68.idx
.cache/clangd/index/tty.h.5ADEB2321E9DC8D9.idx
.cache/clangd/index/type.h.4400DAECDBACCEB4.idx
.cache/clangd/index/type.h.A769AD017134D737.idx
.cache/clangd/index/type.h.BB7DA9BC18CFC4A9.idx
.clangd/index/const.h.A83EBB33F6706B99.idx
.clangd/index/protect.h.27A8AE0EE5620CB2.idx
.clangd/index/start.c.EF866D56D38690C0.idx
.clangd/index/type.h.BB7DA9BC18CFC4A9.idx
