.cache/clangd/index/clock.c.0A8F6EF4D1BF5A24.idx
.cache/clangd/index/console.c.1157821835B524A4.idx
.cache/clangd/index/console.h.CAC412397AB5AA1D.idx
.cache/clangd/index/global.c.5C51C59BF6D6D1CC.idx
.cache/clangd/index/i8259.c.C9E5C0279352CE92.idx
.cache/clangd/index/klib.c.B61B4A2739012C36.idx
.cache/clangd/index/main.c.6A25E878DFC74CB2.idx
.cache/clangd/index/printf.c.1F0EE53BA8E23026.idx
.cache/clangd/index/proc.h.C289544332690884.idx
.cache/clangd/index/start.c.2DED980BFF1557CB.idx
.cache/clangd/index/tty.c.74BC5B8210047FCF.idx
.cache/clangd/index/vsprintf.c.85125277E387FEB4.idx
boot/boot.bin
boot/loader.bin
lib/klib.o
lib/kliba.o
lib/string.o
kernel/clock.o
kernel/console.o
kernel/global.o
kernel/i8259.o
kernel/kernel.o
kernel/keyboard.o
kernel/main.o
kernel/printf.o
kernel/proc.o
kernel/protect.o
kernel/start.o
kernel/syscall.o
kernel/tty.o
kernel/vsprintf.o
.cache/clangd/index/misc.c.D5753614AD2A05E8.idx
.cache/clangd/index/proto.h.6C49B772CA645FDA.idx
.cache/clangd/index/systask.c.3A4EF582BBE5E874.idx
kernel/systask.o
lib/misc.o
kernel.bin
.cache/clangd/index/const.h.C213AC47E2688EF3.idx
.cache/clangd/index/global.h.224DCB4D1EF18678.idx
.cache/clangd/index/keyboard.c.3C32017C417DB0E1.idx
.cache/clangd/index/keyboard.h.60F2F855E6A62334.idx
.cache/clangd/index/keymap.h.21B1F17E5AC6E575.idx
.cache/clangd/index/proc.c.658B706082CC0845.idx
.cache/clangd/index/protect.c.3211E60BC6313882.idx
.cache/clangd/index/protect.h.B0AE8A4458A0F847.idx
.cache/clangd/index/protect.h.B0AE8A4458A0F847.idx.tmp.d4eb48e2
.cache/clangd/index/string.h.57F6ED74E6139879.idx
.cache/clangd/index/tty.h.4290C7881932AE5F.idx
.cache/clangd/index/type.h.67F436503E544026.idx
.cache/clangd/index/fs.h.1E83249EC3528904.idx
.cache/clangd/index/hd.c.4CBF234CD2E1E588.idx
.cache/clangd/index/hd.h.E752A86D3B8E1569.idx
.cache/clangd/index/main.c.ED83253C528A73AD.idx
